@{
    ViewBag.Title = "About Service Finder";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to my Red Badge Final project.
    It is a .NET Framework MVC Web Application using n-tier architecture completed as part of my work in Eleven Fifty Academy's Software Developement bootcamp - Full Time Summer 2021.
    My API app is called Service Finder.  It is an online database designed for use by Social Service CaseMangers seeking to find a Home Health Care service provider that meets the needs of their clients.
    <br />
    <br />
    The app consists of five data tables.
    <br />
    Clients,
    <br />
    Providers,
    <br />
    Services,
    <br />
    Locations,
    <br />
    Notes
    <br />
    <br />
    Each table has multiple models for different functionality.
    <br /><br />

    Services are present that contain the heavy backend logic.<br /><br />

    And Controllers & Views and HTML/CSS styling are used for a friendly and pleasant customer facing front end.<br /><br />

    Although aspiriations were large it wound up being primarily a showcase of Foreign Keys and various relationships between tables..
</p>
