@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SERVICE FINDER</h1>
    <h3 class="lead">Service Finder is an online database designed for use by Social Service CaseMangers 
    seeking to find a Home Health Care service provider that meets the needs of their clients.</h3>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Tabs</h2>
        <p>
            The tabs above are used to collect and present information involved in helping those in need find available resources.  
            The app also has aspirations to interface with an electronic medical record (EMR),so a Notes section is included.
        </p>
        <p><a class="btn btn-default" href="https://digital.ahrq.gov/key-topics/electronic-medical-record-systems">Learn more about what an EMR is. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Are you a Service Provider?</h2>
        <p>If you would like to be included in our collection of Service Providers please contact us:</p>
        <p><a class="btn btn-default" href="https://servicefinder@servicefinder.com">Click here to send an email. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Additional Resources</h2>
        <p>There are many resources available for persons and families in need of assistance. We've provided links to just a few of those below.</p>
        <p><a class="btn btn-default" href="https://locate.senioradvisor.com/v2/?kw=4001-prospecting_nb_seniorlivingnat_null_sa&kwg=SL:X:X:X:Senior%20Living_Care&keyword=caring%20for%20the%20elderly&match=p&device=c&network=o&account=Bing:%20SA%20USA%20&%20CAN&campaignid=382545346&adgroupid=1218259338083210&ad_id=&AdPosition=&geo=49290&distrib=s&targetID=kwd-76141559779979:loc-190&interest=&hl=senior-apartment%7cSenior%20Care&location=&utm_source=bing&utm_medium=paid_media_sem&utm_campaign=prospecting_nb_seniorlivingnat_null_sa&utm_content=null&utm_term=caring%20for%20the%20elderly&&isInquiry=true&msclkid=741fc2a9c2c21f04dda7a387f1debc83&gclid=741fc2a9c2c21f04dda7a387f1debc83&gclsrc=3p.ds">Senior Advisor &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.disability-benefits-help.org/cpc/general?utm_source=bing&utm_medium=cpc&utm_term=disability&utm_content=services%20for%20handicapped%20indiana&utm_campaign=SSD+-+Phrase&__egma[MatchType]=p&__egma[Network]=o&__egma[Device]=c&__egma[Creative]=&__egma[Placement]=&msclkid=94d2b6e6f59a1011223cd7c8c0fe106f">Disability Benefits Help. &raquo;</a></p>
    </div>
</div>


